dify/STEP1_書籍プロファイル草案.yml
app:
  description: 仮テーマ・動機・想定読者仮説と著者プロファイルから「書籍プロファイル草案」を生成するC案 Phase 1 のSTEP1ワークフロー。出力はSTEP2の市場検証で使う検索キーワード3軸を含む。
  icon: 📖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: STEP1_書籍プロファイル草案
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.10@7ca552fb9e48caa4deddfdef5aa71c200d06d03c26c2e8bb428b3250101b9cb3
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1900000000001-source-1900000000002-target
      source: '1900000000001'
      sourceHandle: source
      target: '1900000000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1900000000002-source-1900000000003-target
      source: '1900000000002'
      sourceHandle: source
      target: '1900000000003'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: ユーザー入力
        type: start
        variables:
        - default: ''
          hint: 書きたい本のテーマを一文で（例：「会社員のためのChatGPT活用術」）。あとから書籍プロファイルとして整理されます。
          label: 仮テーマ（必須）
          max_length: 200
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: theme
        - default: ''
          hint: なぜ自分がこのテーマを書くのか、きっかけや動機を書いてください。著者プロファイルの「核」と仮テーマをつなぐ橋渡しの情報です。
          label: 動機・きっかけ（必須）
          max_length: 1000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: motivation
        - default: ''
          hint: 書ける範囲でOK。空欄ならAIが著者プロファイルと仮テーマから推論します。
          label: 想定読者の仮説（任意）
          max_length: 1000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: reader_hypothesis
        - default: ''
          hint: STEP0で生成された著者プロファイル全文（ポータルから自動転記されます）
          label: 著者プロファイル
          max_length: 10000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: author_profile
      height: 200
      id: '1900000000001'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            enable_stream: false
            max_tokens: 8192
            reasoning_effort: low
            verbosity: medium
          mode: chat
          name: gpt-5.2
          provider: langgenius/openai/openai
        prompt_template:
        - id: a1b2c3d4-1900-4001-9000-000000000001
          role: system
          text: |
            あなたは「書籍プロファイル草案エージェント」です。
            著者プロファイル（著者の核）と、ユーザーが提示する仮テーマ・動機・想定読者仮説をもとに、これから作る一冊の本のための「書籍プロファイル草案」を生成します。

            この草案はSTEP2（市場検証）で精査され、確定版になります。確定版以降のSTEP3〜10では、本の各要素（読者像・タイトル・目次・本文・説明文）を作る際の指針として使われます。

            ■ 入力

            著者プロファイル（全STEP共通の核・自動転記）：
            {{#1900000000001.author_profile#}}

            仮テーマ：
            {{#1900000000001.theme#}}

            動機・きっかけ：
            {{#1900000000001.motivation#}}

            想定読者の仮説（任意・空欄ならAIで推論）：
            {{#1900000000001.reader_hypothesis#}}

            ■ 生成原則

            - **動機を「著者の角度」に必ず反映する**：なぜこの著者がこのテーマを書くのかの必然性を言語化する
            - **著者プロファイルの「専門領域・強み」「思想・価値観」「ブランドコンセプト」を踏まえる**：仮テーマだけで決めず、著者の核から見たときの位置づけを描く
            - **「読者軸」と「差分軸」のキーワードはAmazonでの本の検索を意識する**：実際にKindle読者が打ちそうな実用的な単語を選ぶ
            - **想定読者が空欄の場合**：著者プロファイルの「ターゲット読者像」と仮テーマから推論し、年代・職業・抱える問題を具体化する
            - 出力は【書籍プロファイル草案】とその下の6項目だけ。前置き・解説は書かない

            ■ 出力フォーマット（厳守）

            【書籍プロファイル草案】

            ■ 仮テーマ
            （ユーザー入力を整理して一文で）

            ■ 想定読者(仮説)
            （年代・職業・抱える問題・読みたい状況を含む具体像。3〜5行）

            ■ 著者の角度
            （著者プロファイル × 仮テーマ：なぜ「この著者が」このテーマを書く必然性があるか。動機を反映。3〜5行）

            ■ ポジショニング仮説
            （類書がある中でこの本が立つ位置・差分の仮説。「○○寄り」「△△派」のような立ち位置。3〜5行）

            ■ 読了後の状態仮説
            （読者がこの本を読み終わったときに何が変化しているか・どんな行動が取れるようになっているか。3〜5行）

            ■ 検索キーワード3軸
            - 主題軸：（テーマそのものでAmazon検索する語・半角スペース区切りで2語）
            - 読者軸：（想定読者の関心領域でAmazon検索する語・半角スペース区切りで2〜3語）
            - 差分軸：（ポジショニングの差別化要素を表す語・半角スペース区切りで2〜3語）
        selected: false
        title: 書籍プロファイル草案生成
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1900000000002'
      position:
        x: 561
        y: 303
      positionAbsolute:
        x: 561
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1900000000002'
          - text
          value_type: string
          variable: text
        selected: false
        title: 出力
        type: end
      height: 88
      id: '1900000000003'
      position:
        x: 864
        y: 303
      positionAbsolute:
        x: 864
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 0
      y: 0
      zoom: 1
  rag_pipeline_variables: []
