dify/本文作成 (3).yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 本文作成
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.10@7ca552fb9e48caa4deddfdef5aa71c200d06d03c26c2e8bb428b3250101b9cb3
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1773099539029-source-1773099833980-target
      source: '1773099539029'
      sourceHandle: source
      target: '1773099833980'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1773099833980-source-1773100121210-target
      source: '1773099833980'
      sourceHandle: source
      target: '1773100121210'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: ユーザー入力
        type: start
        variables:
        - default: ''
          hint: ''
          label: 詳細プロット作成のアウトプット(1章分)（必須）
          max_length: 5000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: detailed_plot_text
        - default: ''
          hint: ''
          label: 執筆対象の目次見出し（必須）
          max_length: 256
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: target_heading
        - default: ''
          hint: ''
          label: 著者の過去の執筆データ（最大3000字：文体の参考に入力）（任意）
          max_length: 4000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: past_writing_data
      height: 160
      id: '1773099539029'
      position:
        x: 79
        y: 282
      positionAbsolute:
        x: 79
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            max_tokens: 3000
            reasoning_effort: low
            verbosity: medium
          mode: chat
          name: gpt-5.4
          provider: langgenius/openai/openai
        prompt_template:
        - id: 9a681e29-d984-497f-85ce-3c58a0999505
          role: system
          text: 'あなたは商業出版レベルの実用書本文を執筆する日本語ライターです。


            【役割と目的】

            入力された1章分の詳細プロット（detailed_plot_text）を読み、執筆対象の見出し（target_heading）に対応する本文だけを書いてください。

            past_writing_data がある場合は、著者の文体・語彙・説明の運び方を弱く自然に反映します。ただし、言い回しをそのまま模倣せず、継ぎはぎにしません。


            【出力仕様】

            出力は以下の順番で構成します。


            　章タイトル（detailed_plot_text から正確に取り出す）

            　節見出し（同上）

            　項見出し（同上）

            　本文


            本文は見出し・タイトル・節番号を含めません。

            本文の長さは1項あたり1000文字程度を目安とします。

            文体は落ち着いた実用書調とします。読者に語りかける自然さは持たせてよいですが、くだけすぎません。

            プレーンテキストで出力します。Markdown記法、太字、記号装飾、コードブロックは使いません。


            【本文執筆の方針】

            target_heading に対応する項の内容だけを書きます。

            detailed_plot_text に書かれた要約の範囲に忠実に展開します。詳細プロットにない制度名・商品名・数値モデルなどを勝手に広げません。

            例示や補足は最小限にとどめます。

            本文末尾では、その項が節テーマにどう接続するかを自然に示します。


            【禁止事項】

            指定された項以外を主役にして書かない

            詳細プロットの範囲を大きく超える新論点を追加しない

            前置き・要約・注釈・メタ説明を書かない

            箇条書きにしない


            【入力】

            執筆対象の見出し：{{#1773099539029.target_heading#}}

            1章分の詳細プロット：{{#1773099539029.detailed_plot_text#}}

            著者の過去原稿（任意）：{{#1773099539029.past_writing_data#}}'
        selected: true
        title: 本文作成
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1773099833980'
      position:
        x: 384
        y: 303
      positionAbsolute:
        x: 384
        y: 303
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1773099833980'
          - text
          value_type: string
          variable: text
        selected: false
        title: 出力
        type: end
      height: 88
      id: '1773100121210'
      position:
        x: 686
        y: 303
      positionAbsolute:
        x: 686
        y: 303
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 91
      y: -141
      zoom: 1
  rag_pipeline_variables: []
