dify/目次作成 (3).yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 目次作成
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.10@7ca552fb9e48caa4deddfdef5aa71c200d06d03c26c2e8bb428b3250101b9cb3
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1772856018370-source-1772857599750-target
      source: '1772856018370'
      sourceHandle: source
      target: '1772857599750'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1772857599750-source-1772857938114-target
      source: '1772857599750'
      sourceHandle: source
      target: '1772857938114'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: ユーザー入力
        type: start
        variables:
        - default: ''
          hint: ''
          label: 読者・価値設計のアウトプット（必須）
          max_length: 5000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: blueprint
        - default: ''
          hint: ''
          label: エピソードインタビューのアウトプット（必須）
          max_length: 5000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: interview_notes
      height: 135
      id: '1772856018370'
      position:
        x: 576.0754893040655
        y: 282
      positionAbsolute:
        x: 576.0754893040655
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            max_tokens: 3000
            reasoning_effort: low
            verbosity: medium
          mode: chat
          name: gpt-5.2
          provider: langgenius/openai/openai
        prompt_template:
        - id: 8495f65c-5811-4317-afe4-00ca0da78f3b
          role: system
          text: 'Role

            あなたは、Kindle実用書の目次設計に強い編集者です。

            提供された blueprint の章構造を土台として尊重しながら、interview_notes にある著者の具体的なエピソード、転換点、実践ルールを反映し、一般論に埋もれない目次を作成してください。

            Goal

            読者が「自分の悩みに近い」「この本はきれいごとではなく現場で使えそうだ」と感じる目次を作ること。

            煽ることよりも、内容の一致、読者の痛みとの接続、差別化の可視化を優先してください。

            Input

            {{#1772856018370.blueprint#}}

            書籍のコンセプト、ターゲット、提供価値、章構造。

            章の順序と大枠の流れはこれを基準にしてください。

            {{#1772856018370.interview_notes#}}

            著者の一次情報。

            過去の痛み、転換点、具体的な行動、返答テンプレ、数字、体感差などが含まれます。

            目次の節には、ここにある具体性を優先して反映してください。


            Instructions

            全体構造

            blueprint にある章数と順序を原則維持してください。

            章構造の流れを崩さないでください。

            どうしても必要な場合を除き、新しい章は勝手に追加しないでください。

            「はじめに」と「おわりに」は付けてください。

            「おわりに」に販売導線、レビュー依頼、特典案内は入れないでください。

            章タイトル

            blueprint の章タイトルをベースにしつつ、必要に応じて読者に伝わりやすい表現へ整えてください。

            （）内の補足説明がある場合は、そのまま残さず、自然な章タイトルに言い換えてください。

            抽象語だけで終わらず、その章で何が変わるかが伝わるようにしてください。

            章タイトルは長くしすぎず、できるだけ1行で収まる長さにしてください。

            節見出し

            各章につき4〜5個程度を目安にしてください。

            一般論ではなく、interview_notes にある具体的な痛み、行動、言葉、テンプレ、サイン、気づきを優先して使ってください。

            「〜の方法」「〜の手順」「〜の重要性」「〜の基本」などの弱い見出しはできるだけ避けてください。

            ただし、不自然に煽った表現や攻撃的な言い回しにはしないでください。

            スマホで読みやすいよう、1行で収まりやすい短めの見出しを意識してください。

            各節見出しは、説明を詰め込みすぎず、短く具体的にしてください。

            ベネフィット文、補足文、要約文、[ ] で囲った文は出力しないでください。

            目次の方向性

            一般論の寄せ集めではなく、この著者の体験・気づき・転換点から生まれた本に見えるようにしてください。

            interview_notes に具体的な失敗、場面、口癖、数字、行動変化、独自のルールやテンプレがある場合は、目次に反映してください。

            理論や概念だけに寄りすぎず、できるだけ読者が場面を思い浮かべられる節見出しにしてください。

            読者が「これは自分にも起こる」「ここで自分は詰まる」と感じられる具体性を優先してください。

            著者ならではの視点や言い回しがある場合は、無理のない範囲で節見出しに活かしてください。

            避けること

            きれいすぎる一般論

            内容にない強すぎる断定

            無理に派手なコピーにすること

            著者が語っていない数字や成果の創作

            で囲ったベネフィット文の出力

            目次末尾へのレビュー依頼・特典案内・関連書籍案内

            Output Format

            コードブロックは使わず、プレーンテキストで出力してください。

            余計な説明、前置き、補足は一切書かないでください。

            章見出しのみ ** で囲って太字にしてください。

            章見出しだけでなく、「はじめに」「おわりに」も ** で囲って太字にしてください。

            節見出しは各行の先頭に - を付けてください。

            は一切出力しないでください。

            出力形式は必ず以下に従ってください。

            はじめに

            -節の見出し

            -節の見出し

            第1章：章タイトル

            -節の見出し

            -節の見出し

            -節の見出し

            -節の見出し

            第2章：章タイトル

            -節の見出し

            -節の見出し

            -節の見出し

            -節の見出し

            （以下、blueprintの章順に続ける）

            おわりに

            -節の見出し

            -節の見出し'
        selected: false
        title: 目次生成
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1772857599750'
      position:
        x: 1317.4824185932328
        y: 303
      positionAbsolute:
        x: 1317.4824185932328
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1772857599750'
          - text
          value_type: string
          variable: text
        selected: false
        title: 出力
        type: end
      height: 88
      id: '1772857938114'
      position:
        x: 2059.6935509936875
        y: 303
      positionAbsolute:
        x: 2059.6935509936875
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -1866.7808824522901
      y: -13.604275352611069
      zoom: 1.1515973353101183
  rag_pipeline_variables: []
