dify/章構成作成 (3).yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 章構成作成
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.10@7ca552fb9e48caa4deddfdef5aa71c200d06d03c26c2e8bb428b3250101b9cb3
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1772945917672-source-1772952194627-target
      source: '1772945917672'
      sourceHandle: source
      target: '1772952194627'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: iteration
      id: 1772952194627-source-1772952541934-target
      source: '1772952194627'
      sourceHandle: source
      target: '1772952541934'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1772952541934'
        sourceType: iteration-start
        targetType: llm
      id: 1772952541934start-source-1772952562841-target
      source: 1772952541934start
      sourceHandle: source
      target: '1772952562841'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: iteration
        targetType: code
      id: 1772952541934-source-1772953308664-target
      source: '1772952541934'
      sourceHandle: source
      target: '1772953308664'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1772953308664-source-1772947207354-target
      source: '1772953308664'
      sourceHandle: source
      target: '1772947207354'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: true
        title: ユーザー入力
        type: start
        variables:
        - default: ''
          hint: ''
          label: 目次作成のアウトプット（必須）
          max_length: 5000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: refined_toc
        - default: ''
          hint: ''
          label: 読者・価値設計のアウトプット（必須）
          max_length: 5000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: blueprint
        - default: ''
          hint: ''
          label: エピソードインタビューのアウトプット（必須）
          max_length: 5000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: nterview_notes
      height: 160
      id: '1772945917672'
      position:
        x: -170
        y: 266
      positionAbsolute:
        x: -170
        y: 266
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1772953308664'
          - final_outline
          value_type: string
          variable: text
        selected: false
        title: 出力
        type: end
      height: 88
      id: '1772947207354'
      position:
        x: 1211
        y: 287
      positionAbsolute:
        x: 1211
        y: 287
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import re\nimport json\n\ndef main(toc_text: str, target_chapter: str\
          \ = \"\"):\n    # --- 1. テキストのパースとクリーニング ---\n    content = toc_text\n \
          \   try:\n        if isinstance(toc_text, str) and toc_text.strip().startswith('{'):\n\
          \            data = json.loads(toc_text)\n            content = data.get(\"\
          text\", toc_text)\n    except:\n        content = toc_text\n\n    if content\
          \ is None:\n        content = \"\"\n\n    # コードブロック記号などを掃除\n    content\
          \ = str(content).replace(\"```markdown\", \"\").replace(\"```\", \"\").strip()\n\
          \n    # --- 2. 章ごとに分割 ---\n    # 太字見出し **はじめに** / **第1章：...** / **おわりに**\
          \ に対応\n    heading_pattern = r'(?=^\\*\\*(?:はじめに|第\\s*\\d+\\s*章[:：].*?|おわりに)\\\
          *\\*$)'\n    parts = re.split(heading_pattern, content, flags=re.MULTILINE)\n\
          \n    all_chapters = []\n    for p in parts:\n        p = p.strip()\n  \
          \      if not p:\n            continue\n        first_line = p.split('\\\
          n')[0].strip()\n        if re.match(r'^\\*\\*(?:はじめに|第\\s*\\d+\\s*章[:：].*?|おわりに)\\\
          *\\*$', first_line):\n            all_chapters.append(p)\n\n    # --- 3.\
          \ フィルタリング判定 ---\n    query = str(target_chapter or \"\").strip()\n\n   \
          \ if not query:\n        return {\"chapters_list\": all_chapters}\n\n  \
          \  filtered = []\n    for chapter in all_chapters:\n        first_line =\
          \ chapter.split('\\n')[0].strip()\n\n        # 例: \"3\" -> 第3章\n       \
          \ if query in first_line:\n            filtered.append(chapter)\n      \
          \      continue\n\n        # \"第3章\" でも拾えるようにする\n        if re.search(rf'第\\\
          s*{re.escape(query)}\\s*章', first_line):\n            filtered.append(chapter)\n\
          \            continue\n\n        # はじめに / おわりに も拾えるようにする\n        normalized_query\
          \ = query.replace(\"**\", \"\").strip()\n        normalized_first_line =\
          \ first_line.replace(\"**\", \"\").strip()\n        if normalized_query\
          \ == normalized_first_line:\n            filtered.append(chapter)\n\n  \
          \  return {\n        \"chapters_list\": filtered if filtered else all_chapters\n\
          \    }"
        code_language: python3
        outputs:
          chapters_list:
            children: null
            type: array[string]
        selected: false
        title: 目次分割
        type: code
        variables:
        - value_selector:
          - '1772945917672'
          - refined_toc
          value_type: string
          variable: toc_text
      height: 52
      id: '1772952194627'
      position:
        x: 123
        y: 287
      positionAbsolute:
        x: 123
        y: 287
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        error_handle_mode: terminated
        flatten_output: true
        height: 175
        is_parallel: true
        iterator_input_type: array[string]
        iterator_selector:
        - '1772952194627'
        - chapters_list
        output_selector:
        - '1772952562841'
        - text
        output_type: array[string]
        parallel_nums: 5
        selected: false
        start_node_id: 1772952541934start
        title: イテレーション
        type: iteration
        width: 386
      height: 175
      id: '1772952541934'
      position:
        x: 425
        y: 287
      positionAbsolute:
        x: 425
        y: 287
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 386
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1772952541934start
      parentId: '1772952541934'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 449
        y: 355
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        isInIteration: true
        isInLoop: false
        iteration_id: '1772952541934'
        model:
          completion_params:
            enable_stream: false
            max_tokens: 900
            reasoning_effort: low
            verbosity: low
          mode: chat
          name: gpt-5.2
          provider: langgenius/openai/openai
        prompt_template:
        - id: ecbddf74-758b-4bb1-9f49-5df56717828e
          role: system
          text: "# [0. Role]\nあなたは、書籍の特定「1章分」の設計を担当するシニア編集者です。\n他の章には踏み込みすぎず、今処理する章について、読者にとって価値が伝わる具体的な構成案を作成してください。\n\
            目的は、抽象論ではなく、この章で何を扱い、どんな具体例を出し、読者をどう変えるかが分かる要約を作ることです。\n\n# [1. Rules]\n\
            - 渡された {{#1772952541934.item#}} 内の各節（- で始まる項目）ごとに、必ず具体的な要約を付けてください。\n\
            - 1節あたり **80〜140文字程度** を目安にしてください。長くしすぎないでください。\n- 抽象的な説明だけで終わらせず、その節で扱う具体場面・具体例・読者の変化が分かるようにしてください。\n\
            - 「〜を解説する」「〜を紹介する」だけの弱い表現は避けてください。\n- 素材（インタビューノート）: {{#1772945917672.nterview_notes#}}\
            \ に、その節に関連する具体的な失敗、言葉、数字、感情、行動変化があれば、**各節につき1つ以上**反映してください。\n- 章タイトルと節タイトルは入力をそのまま使ってください。\n\
            - 要約は簡潔でよいですが、一般論ではなく、この本ならではの内容にしてください。\n\n# [2. Inputs]\n今回の処理対象（1章分）:\
            \ {{#1772952541934.item#}}\n書籍の全体設計図: {{#1772945917672.blueprint#}}\n\
            素材（インタビューノート）: 素材（インタビューノート）: {{#1772945917672.nterview_notes#}}\n\n#\
            \ [3. Writing Logic]\n- この章の役割を blueprint から確認する\n- この章に対応する interview_notes\
            \ の具体素材を優先して使う\n- 各節では、以下の3点のうち少なくとも2点が伝わるようにする\n  1. どんな場面・問題を扱うか\n \
            \ 2. どんな具体例・行動・気づきを入れるか\n  3. 読者がどう変わるか\n- 一般論や理論の説明に寄りすぎない\n- 次の節につながる流れを意識する\n\
            \n# [4. Output Format]\n以下の形式で出力してください。\n余計な説明、前置き、補足は一切書かないでください。\n\n\
            [章タイトル]\n\n・[節タイトル]\n> [その節の具体的な構成案]\n\n・[節タイトル]\n> [その節の具体的な構成案]\n\n\n"
        selected: false
        title: アウトライン生成
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1772952562841'
      parentId: '1772952541934'
      position:
        x: 128
        y: 66
      positionAbsolute:
        x: 553
        y: 353
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "def main(output_array: list):\n    separator = \"\\n\\n---\\n\\n\"\n\
          \    full_text = separator.join(output_array)\n\n    return {\n        \"\
          final_outline\": full_text\n    }"
        code_language: python3
        outputs:
          final_outline:
            children: null
            type: string
        selected: false
        title: アウトライン整形
        type: code
        variables:
        - value_selector:
          - '1772952541934'
          - output
          value_type: array[string]
          variable: output_array
      height: 52
      id: '1772953308664'
      position:
        x: 871
        y: 287
      positionAbsolute:
        x: 871
        y: 287
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 378.8316627035382
      y: -320.74837165457814
      zoom: 1.6555065507254028
  rag_pipeline_variables: []
