dify/詳細プロット作成 (3).yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 詳細プロット作成
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.10@7ca552fb9e48caa4deddfdef5aa71c200d06d03c26c2e8bb428b3250101b9cb3
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1773057012167-source-1773059102111-target
      source: '1773057012167'
      sourceHandle: source
      target: '1773059102111'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1773059102111-source-1773097289823-target
      source: '1773059102111'
      sourceHandle: source
      target: '1773097289823'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1773097289823-source-1773096100180-target
      source: '1773097289823'
      sourceHandle: source
      target: '1773096100180'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: ユーザー入力
        type: start
        variables:
        - default: ''
          hint: ''
          label: 1章分のアウトライン作成のアウトプット（必須）
          max_length: 2048
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: plot_instruction
        - default: ''
          hint: ''
          label: 著者が入れたいエピソード（任意）
          max_length: 1024
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: added_episodes
      height: 135
      id: '1773057012167'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            enable_stream: false
            max_tokens: 3000
            reasoning_effort: medium
            verbosity: low
          mode: chat
          name: gpt-5.2
          provider: langgenius/openai/openai
        prompt_template:
        - id: 392a08df-b5de-4bbb-a09a-f3a0139c98ee
          role: system
          text: 'あなたは実用書・ビジネス書の構成設計者です。


            目的は、与えられた1章分のアウトラインをもとに、

            各節の配下に置く「項見出し」と「各項で書く内容の要約」を設計することです。


            ここで行うのは本文執筆ではありません。

            後続の本文作成機能が「項単位」で本文を書けるように、

            各節を自然な流れで2〜4個程度の項に分解してください。


            ━━━━━━━━━━━━━━━━━━

            【入力】

            ━━━━━━━━━━━━━━━━━━


            ■ 1章分のアウトライン

            {{#1773057012167.plot_instruction#}}


            ■ 追加したいエピソード

            {{#1773057012167.added_episodes#}}



            ━━━━━━━━━━━━━━━━━━

            【この機能の役割】

            ━━━━━━━━━━━━━━━━━━


            - 各節について、配下に置く項見出しを2〜4個生成する

            - 各項について、その項で書く内容を1〜3文で要約する

            - 元の節要約の主旨・順序・論理展開を保つ

            - 必要に応じて added_episodes を自然に反映する

            - revision_feedback があれば反映する




            ━━━━━━━━━━━━━━━━━━

            【重要ルール】

            ━━━━━━━━━━━━━━━━━━


            - 本文そのものは書かない

            - 各節は2〜4個程度の項に分ける

            - 章タイトルは先頭に残す

            - 元の節見出しは維持する

            - 項見出しは、本文の内容が具体的に想像できるものにする

            - 項見出しは抽象的すぎない

            - 各項の役割が重複しないようにする

            - 項の順番は、実際に本文を書くと自然につながる順にする

            - 各項要約は、後続機能がそのまま本文化できる具体性で書く

            - 「重要性を説明する」「方法を述べる」だけの曖昧な表現で終わらせない

            - 元の内容にない具体策を過剰に補いすぎない

            - 入力の主旨を補強する範囲でのみ補う

            - added_episodes を使う場合は、どの項で何のために使うかがわかる形にする

            - 前置き、補足、解説、まとめコメントは一切出力しない

            - 元の節要約に含まれていない制度、商品名、運用手法、数値モデルを新たに広げすぎない

            - 項は「話の分解」に徹し、著者がまだ言っていない詳細な実務論を過剰に補わない

            - 具体性は持たせるが、本文で初めて展開すべき細部まで先に決めすぎない

            - 項要約は、本文の方向を示す粒度に留める


            ━━━━━━━━━━━━━━━━━━

            【項分解の考え方】

            ━━━━━━━━━━━━━━━━━━


            各節は、必要に応じて以下のような流れで項に分ける。


            - 問題提起

            - 失敗や気づき

            - 転換点

            - 判断基準

            - 実践の考え方

            - 読者への接続


            ただし、毎回この型を機械的に当てはめてはいけない。

            その節に最も自然な流れになるように分解すること。


            ━━━━━━━━━━━━━━━━━━

            【出力形式】

            ━━━━━━━━━━━━━━━━━━


            テキスト形式で出力すること。


            第◯章：章タイトル


            (1) 節見出し

            ① 項見出し

            この項で書く内容の要約


            ② 項見出し

            この項で書く内容の要約


            ③ 項見出し

            この項で書く内容の要約


            ---


            (2) 節見出し

            ① 項見出し

            この項で書く内容の要約


            ② 項見出し

            この項で書く内容の要約


            ---


            ━━━━━━━━━━━━━━━━━━

            【出力形式の厳守事項】

            ━━━━━━━━━━━━━━━━━━


            - 章タイトルは必ず冒頭に残す

            - 章タイトルは「第◯章：章タイトル」の形式で書く

            - 各節は必ず「(1)」「(2)」「(3)」の形式で始める

            - 節番号の次に、節見出しを書く

            - 各項は必ず「①」「②」「③」「④」で始める

            - 項番号の次に、項見出しを書く

            - 項見出しの次の行に、その項で書く内容の要約を書く

            - 太字を使わない

            - コードブロックで囲まない

            - 余計な説明は一切つけない

            '
        selected: true
        title: 詳細プロット設計
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1773059102111'
      position:
        x: 384
        y: 303
      positionAbsolute:
        x: 384
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1773059102111'
          - text
          value_type: string
          variable: text
        selected: false
        title: 出力 2
        type: end
      height: 88
      id: '1773096100180'
      position:
        x: 1100
        y: 303
      positionAbsolute:
        x: 1100
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import re\n\ndef main(detailed_plot_text):\n    # LLM出力が dict の場合にも対応\n\
          \    if isinstance(detailed_plot_text, dict):\n        text = detailed_plot_text.get(\"\
          text\", \"\")\n    elif isinstance(detailed_plot_text, str):\n        text\
          \ = detailed_plot_text\n    else:\n        text = \"\"\n\n    if not text.strip():\n\
          \        return {\"report_markdown\": \"\"}\n\n    src = text.replace(\"\
          \\r\\n\", \"\\n\").replace(\"\\r\", \"\\n\").strip()\n\n    # Markdown装飾を除去\n\
          \    src = re.sub(r\"\\*\\*(.*?)\\*\\*\", r\"\\1\", src)   # **bold**\n\
          \    src = re.sub(r\"__(.*?)__\", r\"\\1\", src)       # __bold__\n    src\
          \ = re.sub(r\"^\\s*#{1,6}\\s*\", \"\", src, flags=re.MULTILINE)  # # 見出し\n\
          \    src = re.sub(r\"`+\", \"\", src)                 # backticks\n\n  \
          \  lines = src.split(\"\\n\")\n    output = []\n\n    for line in lines:\n\
          \        stripped = line.strip()\n\n        if not stripped:\n         \
          \   output.append(\"\")\n            continue\n\n        # 章タイトル・節・項・本文をそのまま通す\n\
          \        output.append(stripped)\n\n    report_markdown = \"\\n\".join(output)\n\
          \    report_markdown = re.sub(r\"\\n{3,}\", \"\\n\\n\", report_markdown).strip()\n\
          \n    return {\"report_markdown\": report_markdown}"
        code_language: python3
        outputs:
          report_markdown:
            children: null
            type: string
        selected: false
        title: プロット整形
        type: code
        variables:
        - value_selector:
          - '1773059102111'
          - text
          value_type: string
          variable: detailed_plot_text
      height: 52
      id: '1773097289823'
      position:
        x: 684
        y: 303
      positionAbsolute:
        x: 684
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -118
      y: -94
      zoom: 1
  rag_pipeline_variables: []
